
    .form {
        margin: 0 auto 70px;
        width: 90%;
        max-width: 500px;
    }

    section.form{
        padding: 16px 64px;
        border-radius: 6px;
    }

    form button,
    form input {
    	width: 100%;
    	margin-bottom: 4px;
    	padding: 8px 16px;
    	border-radius: 4px;
    	border: 1px solid hsla(0, 0%, 100%, .53)
    }

    form a {
        	width: 50%;
        	margin-bottom: 4px;
        	padding: 8px 16px;
        	border-radius: 4px;
        	border: 1px solid hsla(0, 0%, 100%, .53)
        }
    