<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head th:replace="base :: common_header(~{::title})">
        <title>Jogo</title>
    </head>

    <body>
        <section class="header-area">
            <div class="navbar-area" th:insert="~{base :: common_navbar}">
            </div>

            <div id="home" class="slider-area">
                <div th:switch="${jogos}" class="container my-5">
                    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red"/>
                    <div th:if="${sucessMessage}" th:text="${sucessMessage}" style="color:green"/>

                    <div class="row">
                        <div class="col-md-6">
                            <a href="/newjogo" class="btn btn-primary btn-novo d-flex flex-row-reverse"><em class="fas fa-user-plus ml-2"></em></a>
                            <p></p>

                            <h2 th:if="${#lists.isEmpty(jogos)}">Sem registros!</h2>
                            <div th:unless="${#lists.isEmpty(jogos)}">
                                <h2 class="d-flex flex-row">Jogos</h2>
                                <table class="table table-striped" style="width:100%;">
                                    <caption>Jogos cadastrados</caption>
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Descrição</th>
                                        <th scope="col">Url</th>
                                        <th scope="col">Alterar</th>
                                        <th scope="col">Remover</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="jogo : ${jogos}">
                                        <td th:text="${jogo.descricao}" style="width:80%;"></td>
                                        <td th:text="${jogo.url}" style="width:80%;"></td>
                                        <td><a th:href="@{/editjogo/{id}(id=${jogo.id})}" class="btn btn-primary"><em class="fas fa-user-edit ml-2"></em></a></td>
                                        <td><a th:href="@{/deletejogo/{id}(id=${jogo.id})}" class="btn btn-primary"><em class="fas fa-user-times ml-2"></em></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <footer id="footer" class="footer-area" th:insert="~{base :: common_footer}">
        </footer>

        <div th:insert="~{base :: common_script}">
        </div>
    </body>
</html>