<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title>Recuperar Senha</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
</head>

<body class="text-center form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Esqueci minha Senha</h1>
    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red"/>
    <div th:if="${sucessMessage}" th:text="${sucessMessage}" style="color:green"/>

    <section class="form">
        <form action="#" th:action="@{/sendemail}" method="post">
            <label for="email" class="sr-only">E-mail</label>
            <input type="email" id="email" th:name="email" class="form-control" placeholder="E-mail" autofocus required>

            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Reenviar a Senha" />
        </form>
    </section>

    <div class="form">
        <a class="btn btn-lg btn-secondary" href="/">Login</a>
    </div>
</body>
</html>