<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head th:replace="base :: common_header(~{::title})">
    <title>Alterar Aula</title>
</head>

<body>
<section class="header-area">
    <div class="navbar-area" th:insert="~{base :: common_navbar}">
    </div>

    <div id="home" class="slider-area">
        <div class="container my-5">
            <h2 class="mb-5">Alterar Aula</h2>
            <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red"/>

            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/updateaula/{id}(id=${aula.id})}" th:object="${aula}" method="post">
                        <div class="form-group">
                            <label for="data" class="col-form-label">Data de Realização</label>
                            <input type="date" th:field="*{data}" class="form-control" id="data" placeholder="Data de Realização"/>
                            <span th:if="${#fields.hasErrors('data')}" th:errors="*{data}" class="text-danger"></span>
                            </br>
                        </div>

                        <div class="form-group">
                            <label for="professor" class="col-form-label">Professor</label>
                            <br />
                            <select th:field="*{professor}" id="professor" class="form-control">
                                <option value=""></option>
                                <option th:each="professor : ${listaProfessores}"
                                        th:value="${{professor.id}}"
                                        th:text="${professor.nome}">
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('professor')}" th:errors="*{professor}" class="text-danger"></span>
                            </br>
                        </div>

                        <div class="form-group">
                            <label for="turma" class="col-form-label">Turma</label>
                            <select th:field="*{turma}" id="turma" class="form-control">
                                <option value=""></option>
                                <option th:each="turma : ${listaTurmas}"
                                        th:value="${{turma.id}}"
                                        th:text="${turma.descricao}">
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('turma')}" th:errors="*{turma}" class="text-danger"></span>
                            </br>
                        </div>

                        <div class="form-group">
                            <label for="atividades" class="col-form-label">Atividades</label>
                            <select th:field="*{atividades}" id="atividades" class="form-control" multiple="multiple">
                                <option th:each="atividade : ${listaAtividades}"
                                        th:value="${{atividade.id}}"
                                        th:text="${atividade.descricao}">
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('atividades')}" th:errors="*{atividades}" class="text-danger"></span>
                            </br>
                        </div>

                        <div class="row">
                            <div class="d-inline p-3">
                                <input type="submit" class="btn btn-primary" value="Confirmar">
                                <a href="/aula" class="btn btn-primary">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<footer id="footer" class="footer-area" th:insert="~{base :: common_footer}">
</footer>

<div th:insert="~{base :: common_script}">
</div>

<script>
    $('select').selectpicker();

    var base_url = window.location.origin;

    $('#professor').change(
        function() {
            $.getJSON(base_url+"/turmas_por_professor", {
                professorId : $(this).val(),
                ajax : 'true'
            }, function(data) {
                var html = '<option value=""></option>';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                            + data[i].descricao + '</option>';
                }
                html += '</option>';
                $('#turma').html(html);
                $('#turma').selectpicker('refresh');
            });
        }
    );

    $('#turma').change(
        function() {
            $.getJSON(base_url+"/atividades_por_turma", {
                turmaId : $(this).val(),
                ajax : 'true'
            }, function(data) {
                var html = '<option value=""></option>';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '">'
                            + data[i].descricao + '</option>';
                }
                html += '</option>';
                $('#atividades').html(html);
                $('#atividades').selectpicker('refresh');
            });
        }
    );
</script>

</body>
</html>
